@charset "UTF-8";
/* font */
@import url("https://fonts.googleapis.com/css2?family=Heebo:regular,400,500,700,800,900&display=swap");
/*"Heebo", sans-serif; regular*/
body {
  font-family: "Heebo", sans-serif;
  margin: 0;
  padding: 0;
}

body hr {
  color: #e0e0e0;
  margin: 0;
  margin-top: 15px;
}

body header {
  max-width: 1032px;
  margin: 0 auto;
}

body header .Burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: none;
  margin: 15px 15px 0 0;
}

body header .Burger .br {
  background-color: black;
  height: 1px;
  width: 20px;
  margin: 0 0 4px 0;
}

body header .Navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body header .Navigation .nav {
  margin: 27px 33px 0 0;
  text-decoration: none;
  color: #000000;
  font-family: "Heebo" sans-serif;
  font-weight: 700;
  font-size: 20px;
}

body header .Navigation :last-child {
  margin-right: 50px;
}

body main {
  max-width: 856px;
  margin: 0 auto;
  margin-top: 179px;
}

body main .firstBlock .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main .firstBlock .wrapper .ImJonh .Title {
  font-size: 44px;
  font-weight: 700;
  color: #21243d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 470px;
  line-height: 60px;
  margin-bottom: 41px;
}

body main .firstBlock .wrapper .ImJonh .declaration {
  font-size: 16px;
  line-height: 23.5px;
  font-weight: 400;
  width: 500px;
  color: #21243d;
}

body main .firstBlock .wrapper .circle-image img {
  width: 245px;
  height: 245px;
}

body main .firstBlock button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  border-radius: 2px;
  background: #ff6464;
  color: #fff;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  margin-top: 11px;
  cursor: pointer;
}

body main .Posts .PostsAndView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 99px 10px 0;
}

body main .Posts .PostsAndView .Post {
  text-decoration: none;
  font-size: 22px;
  line-height: 60px;
  font-weight: 400;
  color: #21243d;
}

body main .Posts .PostsAndView .ViewAll {
  font-style: 16px;
  line-height: 23px;
  font-weight: 500;
  text-decoration: none;
  color: #00a8cc;
}

body main .InfoForLayout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .InfoForLayout .itemPost {
  padding: 6px 46px 35px 23px;
  background-color: #edf7fa;
  width: 310px;
  margin-top: 20px;
}

body main .InfoForLayout .itemPost .Titless {
  text-decoration: none;
  color: #21243d;
  width: 374px;
  font-size: 26px;
  line-height: 39px;
  font-weight: 700;
}

body main .InfoForLayout .itemPost .Date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  margin-top: 37px;
}

body main .InfoForLayout .itemPost .Decl {
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  margin-top: 26px;
}

body main .LastWorks {
  margin-top: 47px;
}

body main .LastWorks > h4 {
  font-size: 22px;
  line-height: 60px;
  color: #21243d;
  font-weight: 400;
  margin: 0;
}

body main .LastWorks .work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 44px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

body main .LastWorks .work > img {
  width: 246px;
  height: 180px;
  border-radius: 6px;
}

body main .LastWorks .work .infoForWork > h2 {
  font-size: 30px;
  line-height: 44px;
  font-weight: 700;
  color: #21243d;
  margin: 0;
}

body main .LastWorks .work .infoForWork .dateWork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 190px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 22px;
}

body main .LastWorks .work .infoForWork .dateWork strong {
  font-size: 18px;
  font-weight: 900;
  border: solid #142850;
  border-radius: 16px;
  background: #142850;
  color: white;
  width: 62px;
  text-align: center;
}

body main .LastWorks .work .infoForWork .dateWork .TypeOfWork {
  font-size: 20px;
  font-weight: 400;
  color: #8695a4;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .LastWorks .work .infoForWork > h3 {
  margin: 0;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: #21243d;
  margin-top: 20px;
  width: 500px;
}

body footer > h3 {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  font-weight: 400;
  margin: 100px 0 54px;
}

@media screen and (max-width: 991px) {
  body main .wrapper .ImJonh {
    margin-left: 10px;
  }
  body main .wrapper img {
    margin-right: 10px;
  }
  body button {
    margin-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  body {
    /* стили для средних планшетов - начало */
  }
  body header .Navigation {
    display: none;
  }
  body header .Burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main {
    max-width: 479px;
    margin: 0 auto;
    margin-top: 45px;
  }
  body main .firstBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main .firstBlock .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body main .firstBlock .wrapper .circle-image img {
    width: 175px;
    height: 180px;
    margin-bottom: 34px;
  }
  body main .firstBlock .wrapper .ImJonh {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 312px;
  }
  body main .firstBlock .wrapper .ImJonh .Title {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
  }
  body main .firstBlock .wrapper .ImJonh .declaration {
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
  }
  body main .Posts .PostsAndView {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 83px;
  }
  body main .Posts .PostsAndView .ViewAll {
    display: none;
  }
  body main .Posts .InfoForLayout {
    margin-top: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main .Posts .InfoForLayout .itemPost {
    padding: 5px 5px 5px 5px;
    margin: 0px 10px 25px 10px;
  }
  body main .Posts .InfoForLayout .itemPost .Titless {
    font-size: 22px;
    line-height: 33px;
  }
  body main .Posts .InfoForLayout .itemPost .Date {
    font-size: 16px;
    line-height: 23px;
  }
  body main .Posts .InfoForLayout .itemPost .Decl {
    font-size: 16px;
    line-height: 23px;
  }
  body main .Posts .InfoForLayout :last-child {
    margin-bottom: 0;
  }
  body main .LastWorks > h4 {
    text-align: center;
  }
  body main .LastWorks .work {
    width: 96%;
  }
  body main .LastWorks .work > img {
    width: 100%;
    height: 100%;
  }
  body main .LastWorks .work .infoForWork > h3 {
    width: inherit;
  }
  body footer > h3 {
    font-size: 12px;
    margin: 50px 0 25px;
  }
}

@media screen and (max-width: 479px) {
  body {
    /* стили для телефонов - начало */
  }
}
/*# sourceMappingURL=style.css.map */